<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyPediaPearsonSuite">
  <test name="MyPediaPearsonTest">
  		
	 <classes>
	 	<class name="com.qa.test.HomePageTest">
	 		<methods>
	 			<include name="verifyParentSupportPage">
	 				<parameter name="ExcelSheetPath" value="./testdata/ParentSupportAccountDetails.xlsx"/>
	 				<parameter name="SheetName" value="First"/>
	 			</include> 
	 		</methods>
	 	</class>
	 </classes>
  </test>  
</suite>